html{
  overflow: scroll;
}



.dataText{
  background-color: rgba(114, 110, 110, 0.4);
  position:relative; left:110px;bottom:140px;
  border-radius: 20px;
  font-size: 2rem;
  width: 1000px;
    height:2000px;
    border: none;
    padding:50px;
    margin: 20px;
    margin-bottom: 130px;
}

.searchBox{
  position: relative;left:380px;bottom:130px;
  border-radius: 10px;
  font-size: 1rem;
  width: 500px;
    height:35px;
    background-color: #eb0e0e30;
    border: 1px solid grey;
    outline: 0;
    cursor: text;

}

.searchButton{
  position: relative;left:380px;bottom:130px;
  border-radius: 10px;
  font-size: 1rem;
  width: 100px;
    height:35px;
    background-color: #eb0e0e30;
    border: 1px solid rgb(101, 135, 135);
    outline: 0;
    cursor: pointer;

}

.textArea{
  position: relative;left:230px;bottom:400px;
  border-radius: 10px;
  font-size: 1rem;
  width: 800px;
    height:100px;
    background-color: #eb0e0e30;
    border: 1px solid grey;
    outline: 0;
    cursor: text;

}



.question{
font-size: 1.5rem;
  
}

.answer{
  font-size: 1.2rem;
  color:rgb(0, 0, 0);
}

    


#mainTitle{
  
  justify-content: center;
  position: relative;left:340px;top:40px;
   font-family: Verdana, Geneva, Tahoma, sans-serif ;
   font-size:55px;
   letter-spacing: 10px;
   color: rgb(0, 0, 0);
   
  
}


#mainTitle::after{
  content:"[Error Oracle]";
  position: relative;right:609px;top:2px;
  font-family: Verdana, Geneva, Tahoma, sans-serif ;
  font-size:55px;
  letter-spacing: 10px;
  color:#f24c3f;
  
}

#spotify{
  position:relative; left:440px;bottom: 685px;
  
  
  
}

#useful{
  position:relative; left:130px; bottom:1025px;
  background-color: rgba(114, 110, 110, 0.4);
  width: 250px;
  height:320px;
  padding:70px;
  border-radius: 20px;
  
}

#creators{
  position:relative; left:880px; bottom:350px;
  background-color: rgba(114, 110, 110, 0.4);
  width: 250px;
  height:320px;
  padding:70px;
  border-radius: 20px;
  font-size: 16px;

}







.wrapper {
  position: relative;bottom:140px;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}





a:link {
  color: rgb(0, 0, 0);
  background-color: transparent;
  text-decoration: underline;
}

a:visited {
  color: rgb(0, 0, 0);
  background-color: transparent;
  text-decoration: underline;
}

a:hover {
  color: #f24c3f;
  background-color: transparent;
  text-decoration: underline;
}

