@import url(https://fonts.googleapis.com/css?family=Electrolize);





*,
*:after,
*:before {
  box-sizing: border-box;
}


.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}

.sepa {
  width: 90%;
  height: 1px;
  margin: 0px auto;
  border-top: 1px dashed #ecf0f1;
}

.noselect {
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -ms-user-select: none;
      user-select: none;
}

.pause-anim {
  -webkit-animation-play-state: paused !important;
  animation-play-state: paused !important;
}

@-webkit-keyframes svg_outline {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes svg_outline {
  100% {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes svg_outline_hide {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-width: 0;
  }
}
@keyframes svg_outline_hide {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-width: 0;
  }
}
@-webkit-keyframes svg_fill_active {
  100% {
    fill: #e25027;
    fill-opacity: 1;
  }
}
@keyframes svg_fill_active {
  100% {
    fill: #e25027;
    fill-opacity: 1;
  }
}
@-webkit-keyframes svg_fill_inactive {
  100% {
    fill: #ebebeb;
    fill-opacity: 1;
  }
}
@keyframes svg_fill_inactive {
  100% {
    fill: #ebebeb;
    fill-opacity: 1;
  }
}
@-webkit-keyframes svg_stroke_inactive {
  100% {
    stroke: #ebebeb;
  }
}
@keyframes svg_stroke_inactive {
  100% {
    stroke: #ebebeb;
  }
}


html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Electrolize', sans-serif;
  background: #070707;
  overflow: hidden;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}


.bttn {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
.bttn span {
  display: block;
  padding: 30px;
  font-size: 30px;
  color: #000000;
  text-transform: uppercase;
}
.bttn:hover {
  cursor: pointer;
}
.bttn.out .corners {
  position: absolute;
  width: 100%;
  transition-duration: 0.3s;
}
.bttn.out .corners:before, .bttn.out .corners:after {
  content: '';
  position: absolute;
  width: 7px;
  height: 7px;
  border-color: rgb(0, 0, 0);
  border-style: solid;
  transition-duration: 0.3s;
  transform: translateZ(0);
}
.bttn.out .corners.top:before {
  border-width: 1px 0 0 1px;
}
.bttn.out .corners.top:after {
  border-width: 1px 1px 0 0;
}
.bttn.out .corners.bottom:before {
  border-width: 0 0 1px 1px;
}
.bttn.out .corners.bottom:after {
  border-width: 0 1px 1px 0;
}
.bttn.out .corners:before {
  left: 0;
}
.bttn.out .corners:after {
  right: 0;
}
.bttn.out .corners.top {
  top: 0;
}
.bttn.out .corners.bottom {
  bottom: 7px;
}
.bttn.out:hover .corners:before {
  left: 20px;
}
.bttn.out:hover .corners:after {
  right: 20px;
}
.bttn.out:hover .corners.top {
  top: 20px;
}
.bttn.out:hover .corners.bottom {
  bottom: 27px;
}
.bttn.in .corners {
  position: absolute;
  width: 100%;
  transition-duration: 0.3s;
}
.bttn.in .corners:before, .bttn.in .corners:after {
  content: '';
  position: absolute;
  width: 7px;
  height: 7px;
  border-color: #010101;
  border-style: solid;
  transition-duration: 0.3s;
  transform: translateZ(0);
}
.bttn.in .corners.top:before {
  border-width: 1px 0 0 1px;
}
.bttn.in .corners.top:after {
  border-width: 1px 1px 0 0;
}
.bttn.in .corners.bottom:before {
  border-width: 0 0 1px 1px;
}
.bttn.in .corners.bottom:after {
  border-width: 0 1px 1px 0;
}
.bttn.in .corners:before {
  left: 20px;
}
.bttn.in .corners:after {
  right: 20px;
}
.bttn.in .corners.top {
  top: 20px;
}
.bttn.in .corners.bottom {
  bottom: 27px;
}
.bttn.in:hover .corners:before {
  left: 0;
}
.bttn.in:hover .corners:after {
  right: 0;
}
.bttn.in:hover .corners.top {
  top: 0;
}
.bttn.in:hover .corners.bottom {
  bottom: 7px;
}

.bttn.cyan span {
  color: rgb(3, 3, 3);
}
.bttn.cyan .corners:after, .bttn.cyan .corners:before {
  border-color: rgb(0, 0, 0);
}

.box {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 200px;
}
.box .content {
  margin: 20px;
  padding: 20px;
  border: 1px dashed transparent;
  color: white;
  font-size: 14px;
  line-height: 1.3;
}
.box.out .corners {
  position: absolute;
  width: 100%;
  transition-duration: 0.3s;
}
.box.out .corners:before, .box.out .corners:after {
  content: '';
  position: absolute;
  width: 7px;
  height: 7px;
  border-color: rgb(0, 0, 0);
  border-style: solid;
  transition-duration: 0.3s;
  transform: translateZ(0);
}
.box.out .corners.top:before {
  border-width: 1px 0 0 1px;
}
.box.out .corners.top:after {
  border-width: 1px 1px 0 0;
}
.box.out .corners.bottom:before {
  border-width: 0 0 1px 1px;
}
.box.out .corners.bottom:after {
  border-width: 0 1px 1px 0;
}
.box.out .corners:before {
  left: 0;
}
.box.out .corners:after {
  right: 0;
}
.box.out .corners.top {
  top: 0;
}
.box.out .corners.bottom {
  bottom: 7px;
}
.box.out:hover .corners:before {
  left: 20px;
}
.box.out:hover .corners:after {
  right: 20px;
}
.box.out:hover .corners.top {
  top: 20px;
}
.box.out:hover .corners.bottom {
  bottom: 27px;
}
.box.out .content {
  border-color: rgba(0, 0, 0, 0.5);
  color: rgb(0, 0, 0);
}
.box.in .corners {
  position: absolute;
  width: 100%;
  transition-duration: 0.3s;
}
.box.in .corners:before, .box.in .corners:after {
  content: '';
  position: absolute;
  width: 7px;
  height: 7px;
  border-color: #000000;
  border-style: solid;
  transition-duration: 0.3s;
  transform: translateZ(0);
}
.box.in .corners.top:before {
  border-width: 1px 0 0 1px;
}
.box.in .corners.top:after {
  border-width: 1px 1px 0 0;
}
.box.in .corners.bottom:before {
  border-width: 0 0 1px 1px;
}
.box.in .corners.bottom:after {
  border-width: 0 1px 1px 0;
}
.box.in .corners:before {
  left: 20px;
}
.box.in .corners:after {
  right: 20px;
}
.box.in .corners.top {
  top: 20px;
}
.box.in .corners.bottom {
  bottom: 27px;
}
.box.in:hover .corners:before {
  left: 0;
}
.box.in:hover .corners:after {
  right: 0;
}
.box.in:hover .corners.top {
  top: 0;
}
.box.in:hover .corners.bottom {
  bottom: 7px;
}
.box.in .content {
  border-color: rgba(0, 0, 0, 0.5);
  color: #000000;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(50%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(50%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}