@import url(https://fonts.googleapis.com/css?family=Electrolize);




body {
  font-family: 'Electrolize', sans-serif;
}

.bttn:hover {
  cursor: pointer;
}

.bttn {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

.bttn span {
  display: block;
  padding: 30px;
  font-size: 30px;
  color: #000000;
}

.bttn.out .corners, .bttn.in .corners{
  position: absolute;
  width: 100%;
}




/* LEFT AND RIGHT BUTTONS - VSCODE AND GIT*/

.bttn.out .corners:before, .bttn.out .corners:after {
  content: '';
  position: absolute;
  width: 7px;
  height: 7px;
  border-color: rgb(0, 0, 0);
  border-style: solid;
  transition-duration: 0.3s;
}

/* border width transition - shaping corner */
.bttn.out .corners.bottom:before {
  border-width: 0 0 1px 1px;
}
.bttn.out .corners.bottom:after {
  border-width: 0 1px 1px 0;
}
.bttn.out .corners.top:before {
  border-width: 1px 0 0 1px;
}
.bttn.out .corners.top:after {
  border-width: 1px 1px 0 0;
}

/**/

/* corner position */

.bttn.out .corners:before {
  left: 0;
}
.bttn.out .corners:after {
  right: 0;
}
.bttn.out .corners.top {
  top: 0;
}
.bttn.out .corners.bottom {
  bottom: 7px;
}

/**/

/* mouse hover */
.bttn.out:hover .corners:before {
  left: 20px;
}
.bttn.out:hover .corners:after {
  right: 20px;
}
.bttn.out:hover .corners.top {
  top: 20px;
}
.bttn.out:hover .corners.bottom {
  bottom: 27px;
}

/**/




/* MIDDLE BUTTON - NPM */

.bttn.in .corners:before, .bttn.in .corners:after {
  content: '';
  position: absolute;
  width: 7px;
  height: 7px;
  border-color: #010101;
  border-style: solid;
  transition-duration: 0.3s;
}

/* border width transition - shaping corner */
.bttn.in .corners.top:before {
  border-width: 1px 0 0 1px;
}
.bttn.in .corners.top:after {
  border-width: 1px 1px 0 0;
}
.bttn.in .corners.bottom:before {
  border-width: 0 0 1px 1px;
}
.bttn.in .corners.bottom:after {
  border-width: 0 1px 1px 0;
}

/**/

/* border width transition - shaping corner */
.bttn.in .corners:before {
  left: 20px;
}
.bttn.in .corners:after {
  right: 20px;
}
.bttn.in .corners.top {
  top: 20px;
}
.bttn.in .corners.bottom {
  bottom: 27px;
}

/**/

/* mouse hover*/
.bttn.in:hover .corners:before {
  left: 0;
}
.bttn.in:hover .corners:after {
  right: 0;
}
.bttn.in:hover .corners.top {
  top: 0;
}
.bttn.in:hover .corners.bottom {
  bottom: 7px;
}

/**/














