
html{
  overflow: scroll;
}

/* Error Oracle title 2 tone*/
#mainTitle{
  justify-content: center;
  position: relative;left:344px;top:40px;
   font-family: Verdana, Geneva, Tahoma, sans-serif ;
   font-size:55px;
   letter-spacing: 10px;
   color: rgb(0, 0, 0);
   
}

#mainTitle::after{
  content:"[Error Oracle]";
  position: relative;right:609px;top:2px;
  font-family: Verdana, Geneva, Tahoma, sans-serif ;
  font-size:55px;
  letter-spacing: 10px;
  color:#f24c3f;
  
}
/* Error Oracle title 2 tone end */

.wrapper { /*buttons wrapper*/
  position: relative;bottom:140px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.searchBox{
  position: relative;left:330px;bottom:120px;
  border-radius: 10px;
  font-size: 1rem;
  width: 500px;
    height:35px;
    background-color: #eb0e0e30;
    border: 1px solid grey;
    outline: 0;
    cursor: text;

}

.searchButton{
  position: relative;left:330px;bottom:120px;
  border-radius: 10px;
  font-size: 1rem;
  width: 100px;
    height:35px;
    background-color: #eb0e0e30;
    border: 1px solid rgb(101, 135, 135);
    outline: 0;
    cursor: pointer;

}

.dataText{ /* Text in the display section */
  background-color: rgba(114, 110, 110, 0.4);
  position:relative; bottom: 120px;
  border-radius: 20px;
  font-size: 2rem;
  width: 1000px;
    height:2000px;
    border: none;
    margin-left: auto;
    margin-right: auto;
  
  
   
}

.question{
  font-size: 1.5rem;
    
  }
  
  .answer{
    font-size: 1.2rem;
    color:rgb(0, 0, 0);
  }

  /* Text in the display section end*/

.textArea{ /*comment section*/
  position: absolute;left:230px; bottom: -1600px;
  border-radius: 10px;
  font-size: 1rem;
  width: 800px;
    height:100px;
    background-color: #eb0e0e30;
    border: 1px solid grey;
    outline: 0;
    cursor: text;
}


#useful{ /*useful links box*/
  position:relative; left:133px; bottom:980px;
  background-color: rgba(114, 110, 110, 0.4);
  width: 200px;
  height:320px;
  padding: 50px;
  border-radius: 20px;
}

a:link {
  color: rgb(0, 0, 0);
  background-color: transparent;
  text-decoration: underline;
}

a:visited {
  color: rgb(0, 0, 0);
  background-color: transparent;
  text-decoration: underline;
}

a:hover {
  color: #f24c3f;
  background-color: transparent;
  text-decoration: underline;
}

/*useful links box end*/

#spotify{
  position:relative; left:475px;bottom: 550px; 
}

#creators{ /*creators box*/
  position:relative; left:833px; bottom:130px;
  background-color: rgba(114, 110, 110, 0.4);
  background-color: rgba(114, 110, 110, 0.4);
  width: 200px;
  height:320px;
  padding: 50px;
  border-radius: 20px;
}
